li{
  float: left;
  display:block;
  text-align: center;
  padding: 14px 15px;
  text-decoration:underline;
  overflow: hidden;
  background-color: #1E6649;
  height: auto;
}
li:hover
{
  
  background-color: #065535;

  color: rgb(6, 139, 216);
  text-align: center;
  padding: 15px;
  height: auto;
} 

.btn-warning{
  color: white;
background-color: #065535;
}

img{
  padding-top: 3cm;
}
h2{
  padding-top: 4cm;
  color: #065535;
  font-weight: 600;
  text-decoration: underline;
}
h4{
  color: rgb(18, 161, 218);
  font-weight: 500;
}
p{
  color: rgb(17, 17, 17);
  font-weight: 600;
}
strong{
  color: #065535;
}

nav{
  background-color: #065535;
  height: auto;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #ff0c9e;
  color: white;
}
.fa-whatsapp {
  background: #00c954;
  color: white;
}
