li{
    float: left;
    display:block;
    text-align: center;
    padding: 14px 15px;
    text-decoration:underline;
    overflow: hidden;
    background-color: #1E6649;
    height: auto;
}
li:hover
{
    
    background-color: #065535;
    color: rgb(6, 139, 216);
    text-align: center;
    padding: 15px;
    height: auto;
} 

h1{
    padding-left: 45%;
    color: black;
    font-weight: 500;
    padding-top: 1cm;
    padding-bottom: 2cm;
  font-style:initial;
  text-decoration:underline;
}
td{
    font-weight: 400;
    color: black;
    padding-right: 5cm;
    padding-bottom: 0.5cm;
}
b{
    color: black;
    font-weight: 600;
   
    padding-left: 16cm;
   
}

.btn-primary{
  margin-left: 6.5cm;
  background-color: #065535;
  
}
tr{
    padding-top: 3.2cm;
}
h3{

   padding-left: 14cm;
  align-self: center;
  
}
 body{
    background-color: white;
    height: 13cm;
}


nav{
    background-color: #065535;
    height: auto;
}
.profile{
  box-shadow: #065535;
  border: #065535;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #ff0c9e;
    color: white;
  }
  .fa-whatsapp {
    background: #00c954;
    color: white;
  }
